* {
    box-sizing: border-box;
}

.projectBox {
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.deleteProject {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
}

.deleteProject:hover {
    box-shadow: 0 0 20px;
    cursor: pointer;
}

.todoBox {
    width: 50vw;
    border: 2px solid red;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

.completeCheckbox {
    cursor: pointer;
    height: 40px;
    width: 40px;
    accent-color: green;
    position: absolute;
    top: 0;
    left: 0;
}

.completeCheckbox:hover {
    box-shadow: 0 0 10px;
}

.title, .description {
    padding: 12px 20px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.dueDate {
    margin-left: 10px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

.prioritySelect {
    margin-left: 10px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

label {
    display: flex;
    align-items: center;
}

.edit {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.edit:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.delete {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    
}

.delete:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}